<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="false"
	convertWarningsToExceptions="false"
	>
	<testsuites>
		<testsuite name="reactions">
			<directory prefix="test-" suffix=".php">tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>