.emoji-reactions {
	margin: 20px 0;
}

.emoji-reaction,
.emoji-reaction-add {
	width: 60px;
	float: left;
	cursor: pointer;
	box-sizing: border-box;
}

.emoji-reaction:hover,
.emoji-reaction-add:hover {
	background-color: #aaa;
}

.emoji-reaction *,
.emoji-reaction-add * {
	width: 100%;
	text-align: center;
}

.emoji-reaction .count {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #eee;
}

emoji-picker {
	position: absolute;
	width: 300px;
	height: 300px;
	display: none;
	z-index: 100;
}

@media only screen and ( max-width: 768px ) {

	emoji-picker {
		position: fixed;
		width: 100%;
		height: 33%;
		left: 0;
		bottom: 0;
		--num-columns: 8;
	}
}

@media only screen and ( max-width: 480px ) {

	emoji-picker {
		height: 50%;
	}
}
