.emoji-reactions {
	margin: 20px 0;
}

.emoji-reaction,
.emoji-reaction-add {
	width: 60px;
	float: left;
	cursor: pointer;
	box-sizing: border-box;
}

.emoji-reaction:hover,
.emoji-reaction-add:hover {
	background-color: #aaa;
}

.emoji-reaction *,
.emoji-reaction-add * {
	width: 100%;
	text-align: center;
}

.emoji-reaction .count {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #eee
}

#emoji-reaction-selector {
	position: absolute;
	width: 300px;
	height: 300px;
}

#emoji-reaction-selector .tabs {
	width: 100%;
	height: 30px;
	background-color: #aaa;
	white-space: collapse;
}

#emoji-reaction-selector .tabs div {
	float: left;
	width: 37px;
    height: 100%;
    text-align: center;
}

#emoji-reaction-selector .tabs div:hover {
	background-color: #ddd
}

#emoji-reaction-selector .tabs div:last-child {
	float: right;
}

#emoji-reaction-selector .container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: #ddd;
}

#emoji-reaction-selector .emoji-reaction {
	width: 31px;
}

@media only screen and ( max-width: 768px ) {
	#emoji-reaction-selector {
		position: fixed;
		width: 100%;
		height: 33%;
		left: 0px;
		bottom: 0px;
	}

	#emoji-reaction-selector .tabs {
		height: 50px;
	}
    
        
    #emoji-reaction-selector .tabs div {
		width: 12.5%;
	}

	#emoji-reaction-selector .emoji-reaction,
	#emoji-reaction-selector .emoji-reaction-tab {
		width: 50px;
		height: 50px;
	}

	#emoji-reaction-selector .emoji {
		width: 100%;
		height: 100%;
        padding-top: 15%;
	}

	#emoji-reaction-selector .emoji img,{
		width: 70% !important;
		height: 70% !important;
	}
    
	#emoji-reaction-selector .tabs .emoji {
		width: 1.5em !important;
		height: 1.5em !important;
		margin-top: 13% !important;
	}

}

@media only screen and ( max-width: 480px ) {
	#emoji-reaction-selector {
		height: 50%;
	}
    
    #emoji-reaction-selector .tabs .emoji {
		margin-top: 20% !important;
	}
}
